---
title: Internet of things (IoT)
tagName: iot
override:tags: 
    - category
---

{% for post in collections.iot %}
    <h2><a href="{{ post.url  | url }}">{{ post.data.title }}</a></h2>
    <em>{{ post.date | date: "%Y-%m-%d" }}</em>
{% endfor %}