---
title: Technical Certifications
tagName: certifications
override:tags: 
    - category
---

{% for post in collections.certifications %}
    <h2><a href="{{ post.url  | url }}">{{ post.data.title }}</a></h2>
    <em>{{ post.date | date: "%Y-%m-%d" }}</em>
{% endfor %}